.edit .controller.ds4 {
    background: url(https://Alphobla.github.io/gamepad.github.io/skins/base-custom.png);
    filter: invert(1) grayscale(1) brightness(1.5);
}


.controller.edit {
    background: url(https://Alphobla.github.io/gamepad.github.io/skins/base-custom.png);
    filter: invert(1) grayscale(1) brightness(1.5);
}


.edit .face {
    position: absolute;
    background: url(https://Alphobla.github.io/gamepad.github.io/skins/dpad-custom.png);
    filter: invert(1) sepia(1) hue-rotate(185deg) saturate(3) brightness(0.9);
}


.edit .stick {
    position: absolute;
    background: url(https://Alphobla.github.io/gamepad.github.io/skins/sticks-custom.png);
    filter: invert(1) sepia(1) hue-rotate(185deg) saturate(3) brightness(0.9);
}


