.edit .controller.ds4 {
    background: url(https://Alphobla.github.io/gamepad.github.io/skins/base-custom.png);
    filter: saturate(0) brightness(2.5);
}


.controller.edit {
    background: url(https://Alphobla.github.io/gamepad.github.io/skins/base-custom.png);
    filter: saturate(0) brightness(2.5);
}


.edit .face {
    position: absolute;
    background: url(https://Alphobla.github.io/gamepad.github.io/skins/dpad-custom.png);
    filter: hue-rotate(-70deg) saturate(1.3) brightness(1.1);
}


.edit .stick {
    position: absolute;
    background: url(https://Alphobla.github.io/gamepad.github.io/skins/sticks-custom.png);
    filter: hue-rotate(-70deg) saturate(1.3) brightness(1.1);
}


